body {
    background-color: darkgrey;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
input {
    width: 440px;
    height: 35px;
    font-size: 1em;
}
#button {
    height: 45px;
}
#mindmg {
font-size: 23px;
}